src/main/mule/helloapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6dcdd5ca-a8e8-4ed0-903c-0b2dfa64e40c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloapiFlow" doc:id="9605c77f-e6ef-45a7-be40-aafffa82d356" >
		<http:listener doc:name="Listener" doc:id="330af268-78df-4745-bdf3-aa6ba2c12a1d" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="faa2b5a1-cf59-4294-8be2-879d1d051e5e" message='#["hello world sucesss"]'/>
	</flow>
</mule>
